<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link href="/static/stylesheets/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>  
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">bookface</a>
          <!--
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="floor" tabindex="-1" aria-disabled="true">floor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout" tabindex="-1" aria-disabled="true">logout</a>
              </li>
            </ul>
            <form class="d-flex" method="GET">
              <input class="form-control me-2" name="profileSearch" type="search" placeholder="search for a user" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
</header>    

<div>

  <%- include ('./partials/messages') %>
  <form class="test" action="/users/login" method="POST">
    <h1> Login </h1>

    <div class="form-control2">
        <!-- <label for="email">Email</label> -->
        <i data-feather="at-sign"></i>
        <input class="inputed" type="email" name="email" placeholder="Email"/>
    </div>

    <div class="form-control2">
        <i data-feather="key"></i>
        <!-- <label for="password">Password</label> -->
        <input class="inputed"
          type="password"
          name="password"
          placeholder="Password"
        />
    </div>
    <!-- <input type="button" class="btn btn-primary btn-block" value="Sign In"> -->
    <button type="submit" class="btn btn-primary btn-block">Login</button>
  </form>
  </div>

<script>
  feather.replace();
</script>
</body>