<section>
    <div class="col-sm">
    </div>
    <div class="col-md">
            <div class="test2">
        <h1>Welcome!</h1>
        <!-- <p>Create an account or login</p> -->
        <p class="font-weight-bold">Create an account or login</p><br>
        <input type="button" class="btn btn-success" onclick="location.href='/users/register';" value="Register"/>
        <input type="button" class="btn btn-primary" onclick="location.href='/users/login';" value="Login"/>
            </div>
    </div>
    <div class="col-sm">
    </div>
</section>