<section>
    <div class="col-sm">
    </div>
    <div class="col-md">
        <h1>Welcome!</h1>
        <p>Create an account or login</p>
        <button class="btn"><a href="/users/register">Register</a></button>
        <button type="button" class="btn btn-succes"><a href="/users/login"> Login</a></button>
    </div>
    <div class="col-sm">
    </div>
</section>