<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">bookface</a>
          <!--
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="floor" tabindex="-1" aria-disabled="true">floor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout" tabindex="-1" aria-disabled="true">logout</a>
              </li>
            </ul>
            <form class="d-flex" method="GET">
              <input class="form-control me-2" name="profileSearch" type="search" placeholder="search for a user" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
</header>    

<section>
    <div class="col-sm">
    </div>
    <div class="col-md">
            <div class="test2">
              <h1>Welcome!</h1>
              <!-- <p>Create an account or login</p> -->
              <p class="font-weight-bold">Create an account or login</p><br>
              <input type="button" class="btn btn-success" onclick="location.href='/users/register';" value="Register"/>
              <input type="button" class="btn btn-primary" onclick="location.href='/users/login';" value="Login"/>
            </div>
    </div>
    <div class="col-sm">
    </div>
</section>